.git
.github
docs
e2e
*.md

api/vendor
api/storage/framework/cache/data/*
api/storage/framework/sessions/*
api/storage/framework/views/*
api/storage/logs/*
api/.env
api/.phpunit.result.cache
api/.phpunit.cache
api/tests

web/node_modules
web/dist
web/.vite
web/coverage
web/*.test.tsx

docker-compose.yml
docker-compose.prod.yml
